

<html>
    <head>
        <TITLE>Kombat Simulator</TITLE>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    
        <!-- Estos tres links aportan todo el css que vamos a utilizar. Se exportan themas clasicos que las 
             versiones más modernas no tienen, ya que estas ultimas solo tienen tema claro y oscur (light/dark) -->                                                                                                         
        <link rel = "stylesheet" href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
        <link rel="stylesheet" href="http://demos.jquerymobile.com/1.4.0/theme-classic/theme-classic.css" />
    
        <!-- Estos dos links aportan todo el javascript que podemos obtener de jqueryMobile -->
        <script src = "https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    
    <body>
        <div data-role="page">
    
            <!-- Header -->
            <div data-role="header" data-position="fixed">
                <h1>Información</h1>
            </div>
    
            <!-- Content -->
            <div    data-role="content"data-theme="a" style="height: auto;">
                <h2> ¿Como funciona? </h2>
                <p>
                    Esta aplicación existe para apoyar al DM (Dungeon Master) a la hora de llevar un combate en una partida de rol.
                    Donde podemos :
                    <li>Crear personajes</li>
                    <li>Eliminar personas</li>
                    <li>Acceder a sus datos almancenados</li>
                    <li>Pasar de turno con la flecha o volver al turno anterior</li>
                    <li>Modificar la vida del personaje </li>
                </p>           
                <p>
                    De esta forma el usuario podrá realizar el siguimiento del combate a través de esta sencilla app
                </p>       
                
                
                
            </div>
            <div data-role="footer" data-position="fixed"  style="bottom: 0;">
                    <form action="/" method="GET" >
                        <button style="float: left;" type="submit">Atras</button>
                        <p style="float: right;">Agustín Merida & Rubén Delgado</p>
                    </form>
            </div>
    
    
    
    
    
            
    
        </div>
    </body>
    
</html>